<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Ada"/>
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CSS"/>
        <filter
          name="CUDA"/>
        <filter
          name="Delphi"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
        <filter
          name="Pascal"/>
        <filter
          name="Php"/>
        <filter
          name="Python"/>
        <filter
          name="Sql"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="CMakeFiles">
        <dir
          name="3.22.1">
          <dir
            name="CompilerIdC"/>
          <dir
            name="CompilerIdCXX"/>
        </dir>
        <dir
          name="CheckIncludeFiles"/>
        <dir
          name="CheckTypeSize"/>
        <dir
          name="datachannel-benchmark.dir"/>
        <dir
          name="datachannel-static.dir"/>
        <dir
          name="datachannel-tests.dir"/>
        <dir
          name="datachannel.dir"/>
      </dir>
      <dir
        name="build">
        <dir
          name="CMakeFiles">
          <dir
            name="3.22.1">
            <dir
              name="CompilerIdC"/>
            <dir
              name="CompilerIdCXX"/>
          </dir>
          <dir
            name="CheckIncludeFiles"/>
          <dir
            name="CheckTypeSize"/>
          <dir
            name="datachannel-benchmark.dir"/>
          <dir
            name="datachannel-static.dir"/>
          <dir
            name="datachannel-tests.dir"/>
          <dir
            name="datachannel.dir"/>
        </dir>
        <dir
          name="deps">
          <dir
            name="libjuice">
            <dir
              name="CMakeFiles">
              <dir
                name="juice-static.dir"/>
              <dir
                name="juice-tests.dir"/>
              <dir
                name="juice.dir"/>
            </dir>
          </dir>
          <dir
            name="libsrtp">
            <dir
              name="CMakeFiles">
              <dir
                name="cipher_driver.dir"/>
              <dir
                name="datatypes_driver.dir"/>
              <dir
                name="kernel_driver.dir"/>
              <dir
                name="rdbx_driver.dir"/>
              <dir
                name="replay_driver.dir"/>
              <dir
                name="roc_driver.dir"/>
              <dir
                name="rtpw.dir"/>
              <dir
                name="srtp2.dir"/>
              <dir
                name="srtp_driver.dir"/>
              <dir
                name="test_srtp.dir"/>
            </dir>
          </dir>
          <dir
            name="usrsctp">
            <dir
              name="usrsctplib">
              <dir
                name="CMakeFiles">
                <dir
                  name="usrsctp.dir"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="examples">
          <dir
            name="client">
            <dir
              name="CMakeFiles">
              <dir
                name="datachannel-client.dir"/>
            </dir>
          </dir>
          <dir
            name="client-benchmark">
            <dir
              name="CMakeFiles">
              <dir
                name="datachannel-client-benchmark.dir"/>
            </dir>
          </dir>
          <dir
            name="copy-paste">
            <dir
              name="CMakeFiles">
              <dir
                name="datachannel-copy-paste-answerer.dir"/>
              <dir
                name="datachannel-copy-paste-offerer.dir"/>
            </dir>
          </dir>
          <dir
            name="copy-paste-capi">
            <dir
              name="CMakeFiles">
              <dir
                name="datachannel-copy-paste-capi-answerer.dir"/>
              <dir
                name="datachannel-copy-paste-capi-offerer.dir"/>
            </dir>
          </dir>
          <dir
            name="media-receiver">
            <dir
              name="CMakeFiles">
              <dir
                name="datachannel-media-receiver.dir"/>
            </dir>
          </dir>
          <dir
            name="media-sender">
            <dir
              name="CMakeFiles">
              <dir
                name="datachannel-media-sender.dir"/>
            </dir>
          </dir>
          <dir
            name="media-sfu">
            <dir
              name="CMakeFiles">
              <dir
                name="datachannel-media-sfu.dir"/>
            </dir>
          </dir>
          <dir
            name="streamer">
            <dir
              name="CMakeFiles">
              <dir
                name="streamer.dir"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="deps">
        <dir
          name="json">
          <dir
            name="docs">
            <dir
              name="docset"/>
            <dir
              name="examples"/>
            <dir
              name="mkdocs">
              <dir
                name="docs">
                <dir
                  name="css"/>
                <dir
                  name="integration">
                  <dir
                    name="conan"/>
                  <dir
                    name="vcpkg"/>
                </dir>
              </dir>
              <dir
                name="scripts"/>
            </dir>
          </dir>
          <dir
            name="include">
            <dir
              name="nlohmann">
              <dir
                name="detail">
                <dir
                  name="conversions"/>
                <dir
                  name="input"/>
                <dir
                  name="iterators"/>
                <dir
                  name="meta">
                  <dir
                    name="call_std"/>
                </dir>
                <dir
                  name="output"/>
              </dir>
              <dir
                name="thirdparty">
                <dir
                  name="hedley"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="single_include">
            <dir
              name="nlohmann"/>
          </dir>
          <dir
            name="tests">
            <dir
              name="abi">
              <dir
                name="config"/>
              <dir
                name="diag"/>
              <dir
                name="include">
                <dir
                  name="nlohmann"/>
              </dir>
              <dir
                name="inline_ns"/>
            </dir>
            <dir
              name="benchmarks">
              <dir
                name="src"/>
            </dir>
            <dir
              name="cmake_add_subdirectory">
              <dir
                name="project"/>
            </dir>
            <dir
              name="cmake_fetch_content">
              <dir
                name="project"/>
            </dir>
            <dir
              name="cmake_fetch_content2">
              <dir
                name="project"/>
            </dir>
            <dir
              name="cmake_import">
              <dir
                name="project"/>
            </dir>
            <dir
              name="cmake_import_minver">
              <dir
                name="project"/>
            </dir>
            <dir
              name="cmake_target_include_directories">
              <dir
                name="project"/>
            </dir>
            <dir
              name="cuda_example"/>
            <dir
              name="reports">
              <dir
                name="2016-08-29-fuzz"/>
              <dir
                name="2016-10-02-fuzz"/>
            </dir>
            <dir
              name="src"/>
            <dir
              name="thirdparty">
              <dir
                name="Fuzzer">
                <dir
                  name="afl"/>
                <dir
                  name="standalone"/>
                <dir
                  name="test"/>
              </dir>
              <dir
                name="doctest"/>
              <dir
                name="fifo_map"/>
              <dir
                name="imapdl"/>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="amalgamate"/>
            <dir
              name="cpplint"/>
            <dir
              name="gdb_pretty_printer"/>
            <dir
              name="generate_natvis"/>
            <dir
              name="macro_builder"/>
            <dir
              name="serve_header"/>
          </dir>
        </dir>
        <dir
          name="libjuice">
          <dir
            name="CMakeFiles">
            <dir
              name="juice-static.dir"/>
            <dir
              name="juice-tests.dir"/>
            <dir
              name="juice.dir"/>
          </dir>
          <dir
            name="fuzzer"/>
          <dir
            name="include">
            <dir
              name="juice"/>
          </dir>
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="libsrtp">
          <dir
            name="CMakeFiles">
            <dir
              name="cipher_driver.dir"/>
            <dir
              name="datatypes_driver.dir"/>
            <dir
              name="kernel_driver.dir"/>
            <dir
              name="rdbx_driver.dir"/>
            <dir
              name="replay_driver.dir"/>
            <dir
              name="roc_driver.dir"/>
            <dir
              name="rtpw.dir"/>
            <dir
              name="srtp2.dir"/>
            <dir
              name="srtp_driver.dir"/>
            <dir
              name="test_srtp.dir"/>
          </dir>
          <dir
            name="crypto">
            <dir
              name="cipher"/>
            <dir
              name="hash"/>
            <dir
              name="include"/>
            <dir
              name="kernel"/>
            <dir
              name="math"/>
            <dir
              name="replay"/>
            <dir
              name="test"/>
          </dir>
          <dir
            name="doc"/>
          <dir
            name="fuzzer"/>
          <dir
            name="include"/>
          <dir
            name="srtp"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="plog">
          <dir
            name="include">
            <dir
              name="plog">
              <dir
                name="Appenders"/>
              <dir
                name="Converters"/>
              <dir
                name="Formatters"/>
              <dir
                name="Helpers"/>
              <dir
                name="Initializers"/>
            </dir>
          </dir>
          <dir
            name="samples">
            <dir
              name="Android">
              <dir
                name="AndroidJNI"/>
              <dir
                name="AndroidNative"/>
            </dir>
            <dir
              name="Arduino">
              <dir
                name="src"/>
            </dir>
            <dir
              name="AscDump"/>
            <dir
              name="CXX11"/>
            <dir
              name="CXX17"/>
            <dir
              name="Chained">
              <dir
                name="ChainedApp"/>
              <dir
                name="ChainedLib"/>
            </dir>
            <dir
              name="ColorConsole"/>
            <dir
              name="CustomAppender"/>
            <dir
              name="CustomConverter"/>
            <dir
              name="CustomFormatter"/>
            <dir
              name="CustomType"/>
            <dir
              name="DebugOutput"/>
            <dir
              name="Demo"/>
            <dir
              name="DisableLogging"/>
            <dir
              name="DynamicAppender"/>
            <dir
              name="EventLog"/>
            <dir
              name="Facilities"/>
            <dir
              name="Hello"/>
            <dir
              name="HexDump"/>
            <dir
              name="Library">
              <dir
                name="LibraryApp"/>
              <dir
                name="LibraryLib"/>
            </dir>
            <dir
              name="MultiAppender"/>
            <dir
              name="MultiInstance"/>
            <dir
              name="NotShared">
              <dir
                name="NotSharedApp"/>
              <dir
                name="NotSharedLib1"/>
              <dir
                name="NotSharedLib2"/>
            </dir>
            <dir
              name="ObjectiveC"/>
            <dir
              name="Path"/>
            <dir
              name="Performance"/>
            <dir
              name="PrintVar"/>
            <dir
              name="SetFileName"/>
            <dir
              name="Shared">
              <dir
                name="SharedApp"/>
              <dir
                name="SharedLib1"/>
              <dir
                name="SharedLib2"/>
            </dir>
            <dir
              name="SkipNativeEOL"/>
            <dir
              name="UtcTime"/>
            <dir
              name="Utf8Everywhere"/>
          </dir>
          <dir
            name="test"/>
        </dir>
        <dir
          name="usrsctp">
          <dir
            name="fuzzer"/>
          <dir
            name="programs"/>
          <dir
            name="usrsctplib">
            <dir
              name="CMakeFiles">
              <dir
                name="usrsctp.dir"/>
            </dir>
            <dir
              name="netinet"/>
            <dir
              name="netinet6"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="examples">
        <dir
          name="client">
          <dir
            name="CMakeFiles">
            <dir
              name="datachannel-client.dir"/>
          </dir>
        </dir>
        <dir
          name="client-benchmark">
          <dir
            name="CMakeFiles">
            <dir
              name="datachannel-client-benchmark.dir"/>
          </dir>
        </dir>
        <dir
          name="copy-paste">
          <dir
            name="CMakeFiles">
            <dir
              name="datachannel-copy-paste-answerer.dir"/>
            <dir
              name="datachannel-copy-paste-offerer.dir"/>
          </dir>
        </dir>
        <dir
          name="copy-paste-capi">
          <dir
            name="CMakeFiles">
            <dir
              name="datachannel-copy-paste-capi-answerer.dir"/>
            <dir
              name="datachannel-copy-paste-capi-offerer.dir"/>
          </dir>
        </dir>
        <dir
          name="media-receiver">
          <dir
            name="CMakeFiles">
            <dir
              name="datachannel-media-receiver.dir"/>
          </dir>
        </dir>
        <dir
          name="media-sender">
          <dir
            name="CMakeFiles">
            <dir
              name="datachannel-media-sender.dir"/>
          </dir>
        </dir>
        <dir
          name="media-sfu">
          <dir
            name="CMakeFiles">
            <dir
              name="datachannel-media-sfu.dir"/>
          </dir>
        </dir>
        <dir
          name="signaling-server-nodejs"/>
        <dir
          name="signaling-server-python"/>
        <dir
          name="signaling-server-qt"/>
        <dir
          name="streamer">
          <dir
            name="CMakeFiles">
            <dir
              name="streamer.dir"/>
          </dir>
          <dir
            name="browser"/>
          <dir
            name="samples"/>
        </dir>
        <dir
          name="streamer_orginal">
          <dir
            name="samples"/>
        </dir>
        <dir
          name="web"/>
      </dir>
      <dir
        name="include">
        <dir
          name="rtc"/>
      </dir>
      <dir
        name="pages">
        <dir
          name="theme">
          <dir
            name="static">
            <dir
              name="css"/>
          </dir>
          <dir
            name="templates"/>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="impl"/>
      </dir>
      <dir
        name="test"/>
    </dir>
  </files>
  <languages>
    <language
      name="Ada"/>
    <language
      name="C++"/>
    <language
      name="Pascal"/>
    <language
      name="Python"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <ada_options
    count_and_or_operators="false"
    count_exception_handlers="true"
    count_for_loops="true"
    create_record_object_components="false"
    create_relations_between_formal_actual_parameters="false"
    display="Original"
    linkage_case="Lowercase"
    optimize_for_less_memory="false"
    preprocessor="None"
    prompt_on_parse_error="true"
    save_comments_associated_with_entities="true"
    version="Ada95"/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="false"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    bracket_depth="256"
    cache_ast_files="false"
    c_std=""
    compiler="Linux"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std=""
    cuda_arch="sm_20"
    delayed_template_parsing="true"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_truncation="1000"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_case_insensitive_lookup_for_includes="false"
    compare_includes_by_content="false"
    analyze_headers_in_isolation="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <pascal_options
    allow_embedded_sql="true"
    display="Original"
    linkage_case="Lowercase"
    linkage_prepend_text=""
    parse_standard_library_implementation="false"
    version="Delphi"/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
